<template class="menu">
    <div class="menu-item menu-icons">
        <div class="menu-icons-logo">
            <img class="menu-logo-image" src="../images/logos/twgirl_logo.png" alt="PyLadies Taiwan">
            <img class="menu-logo-tagline" src="../images/logos/pyladiestw-text-2line.svg" alt="PyLadies Taiwan">
        </div>
        <div class="menu-icons-social">
            <a href="mailto:pyladies.tw@gmail.com" target="_blank">
                <i class="far fa-envelope"></i>
            </a>
            <a href="https://www.facebook.com/pyladies.tw/" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="http://www.meetup.com/PyLadiesTW/" target="_blank">
                <i class="fab fa-meetup"></i>
            </a>
            <a href="https://medium.com/pyladies-taiwan" target="_blank">
                <i class="fab fa-medium"></i>
            </a>
            <!--<a class="socal-image" href="" target="_blank">-->
                <!--<img class="img-fluid" src="../images/icons/gitbook.jpg" alt="">-->
            <!--</a>-->
            <!--<a href="" target="_blank">-->
                <!--<i class="fab fa-github-square"></i>-->
            <!--</a>-->
        </div>
    </div>
    <div class="menu-item menu-navigation">
        <div class="menu-navigation-session">
            <h5>Home</h5>
            <span>現在活動</span>
            <span>過往活動</span>
            <a href="https://medium.com/pyladies-taiwan">技術文章</a>
        </div>
        <div class="menu-navigation-session">
            <h5>About</h5>
            <span>關於我們</span>
            <span>團隊成員</span>
            <span>歷史足跡</span>
        </div>
        <div class="menu-navigation-session">
            <h5>Support</h5>
            <a href="https://www.facebook.com/pyladies.tw/" target="_blank">討論社群</a>
            <a href="/faq/faq.html" target="_blank">常見問題</a>
        </div>
        <div class="menu-navigation-session">
            <h5>Contact</h5>
            <span>合辦</span>
            <span>贊助</span>
        </div>
    </div>
</template>