<template class="footer">
    <div class="footer-logo">
        <img class="footer-logo-image" src="../images/logos/twgirl_logo.png" alt="PyLadies Taiwan">
        <img class="footer-logo-tagline" src="../images/logos/pyladiestw-text-2line.svg" alt="PyLadies Taiwan">
    </div>
    <div class="container">
        <div class="footer-session">
            <h5>Home</h5>
            <a href="">現在活動</a>
            <a href="">過往活動</a>
            <a href="https://medium.com/pyladies-taiwan">技術文章</a>
        </div>
        <div class="footer-session">
            <h5>About</h5>
            <a href="" >關於我們</a>
            <a href="">團隊成員</a>
            <a href="">歷史足跡</a>
        </div>
        <div class="footer-session">
            <h5>Support</h5>
            <a href="">討論社群</a>
            <a href="/faq/faq.html">常見問題</a>
        </div>
        <div class="footer-session contact-session">
            <h5>Contacts</h5>
            <div class="social">
                <a href="mailto:pyladies.tw@gmail.com" target="_blank">
                    <i class="far fa-envelope"></i>
                </a>
                <a href="https://www.facebook.com/pyladies.tw/" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="http://www.meetup.com/PyLadiesTW/" target="_blank">
                    <i class="fab fa-meetup"></i>
                </a>
            </div>
            <div class="social">
                <a href="https://medium.com/pyladies-taiwan" target="_blank">
                    <i class="fab fa-medium"></i>
                </a>
                <a href="" target="_blank">
                    <img class="img-fluid" src="../images/icons/gitbook.jpg" alt="">
                </a>
                <a href="" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
            </div>
            <a href="">合辦</a>
            <a href="">贊助</a>
        </div>
    </div>
</template>