<template class="footer">
    <!-- <div class="footer-logo">
        <img class="footer-logo-image" src="../images/logos/twgirl_logo.png" alt="PyLadies Taiwan">
        <img class="footer-logo-tagline" src="../images/logos/pyladiestw-text-2line.svg" alt="PyLadies Taiwan">
    </div> -->
    <!-- <div class="container"> -->
        <div class="footer-logo">
            <img class="footer-logo-image" src="../images/logos/twgirl_logo.png" alt="PyLadies Taiwan">
            <img class="footer-logo-tagline" src="../images/logos/pyladiestw-text-2line.svg" alt="PyLadies Taiwan">
        </div>
        <div class="footer-session">
            <h5>Home</h5>
            <a href="/">現在活動</a>
            <a href="/eventlist/index.html">查詢活動</a>
            <a href="https://medium.com/pyladies-taiwan" target="_blank">技術文章</a>
        </div>
        <div class="footer-session">
            <h5>About</h5>
            <a href="/about/about.html" target="_blank">關於我們</a>
            <a href="/about/team.html" target="_blank">團隊成員</a>
            <!--<span>歷史足跡</span>-->
        </div>
        <div class="footer-session">
            <h5>Support</h5>
            <a href="https://www.facebook.com/pyladies.tw/" target="_blank">討論社群</a>
            <a href="/faq/faq.html" target="_blank">常見問題</a>
        </div>
        <div class="footer-session contact-session">
            <h5>Contacts</h5>
            <div class="social">
                <a href="mailto:pyladies.tw@gmail.com" target="_blank">
                    <i class="far fa-envelope"></i>
                </a>
                <a href="https://www.facebook.com/pyladies.tw/" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
            <div class="social">
                <a href="http://www.meetup.com/PyLadiesTW/" target="_blank">
                    <i class="fab fa-meetup"></i>
                </a>
                <a href="https://medium.com/pyladies-taiwan" target="_blank">
                    <i class="fab fa-medium"></i>
                </a>
                <!--<a href="" target="_blank">-->
                    <!--<img class="img-fluid" src="../images/icons/gitbook.jpg" alt="">-->
                <!--</a>-->
                <!--<a href="" target="_blank">-->
                    <!--<i class="fab fa-github-square"></i>-->
                <!--</a>-->
            </div>
            <a href="https://goo.gl/forms/o46GKCdPqVh0RxuP2" target="_blank">合辦</a>
            <a href="https://goo.gl/forms/UvTn5MDzSvYTfdR03" target="_blank">贊助</a>
        </div>
    <!-- </div> -->
</template>